@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<section x-data="setup_main_page()" class="text-center grid grid-cols-2">

    <section x-data="{ open: false }" class="h-screen border-2 border-primary">

        <h1 class="text-accent text-lg">Alpinejs test</h1>

        @* <pre x-text="current_domain"></pre> *@
        @* <pre x-text="is_local"></pre> *@
        @* <pre x-text="is_prod"></pre> *@

        <button class="btn btn-primary" x-text="open ?  'Close' :  'Expand' " x-on:click="open = !open"></button>

        <span x-show="open" class="grid grid-cols-2 h-64">
            <p class="text-primary">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus accusantium dolore dolorem dolores dolorum eius error et eveniet incidunt nam nemo praesentium quasi qui quisquam repellendus reprehenderit sed, tempora.</p>

            <p class="text-accent">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquam consequuntur, culpa dicta, eligendi exercitationem illo laborum numquam obcaecati odio optio, pariatur perferendis placeat qui quia quod similique velit vitae!</p>

            <div>
                <h1 class="text-primary text-xl">SQL Test</h1>
                <div hx-get
                     hx-page="Index"
                     hx-page-handler="AllTodos"
                     hx-trigger="intersect">
                </div>
                @* hx-loader="#todos_indicator" *@

                @* <span id="todos_indicator" class="htmx-indicator"> *@
                @*     <label>loading ...</label> *@
                @*     <img class="w-8" alt="bars" src="~/img/loaders/circle_bars.svg"/> *@
                @* </span> *@

            </div>

        </span>

        <div>
            <h1 class="text-accent text-lg">dotenv load test</h1>
            <p>@Environment.GetEnvironmentVariable("foo")</p>
        </div>

        <div class="flex flex-col gap-4">
            <h1 class="text-accent text-lg">animejs test</h1>
            <div id="box_grid" class="grid grid-rows-1 grid-cols-1">

                <span class="w-10 box">
                    1
                </span>
                <span class="w-10 box">
                    2
                </span>
                <span class="w-10 box">
                    3
                </span>
            </div>
        </div>

    </section>


    <section class="h-screen flex flex-col gap-4">


        <div>
            <h1>HTMX tests</h1>
            <div
                hx-get
                hx-trigger="every 1s"
                hx-page="Index"
                hx-page-handler="Swap"
                class="btn btn-secondary">
                Swap me, baby one moar time!
            </div>
        </div>


        <template x-if="is_local">
            <h1 class="text-primary text-xl">Test Schema fetching</h1>

            <div hx-get
                 hx-page="Index"
                 hx-page-handler="SchemaInsights"
                 hx-trigger="intersect"
                 hx-on::after-request="run_schema_card_animations()">
            </div>

        </template>

        <div class="h-screen border-0 border-red-500">
            <template x-if="!is_local" x-cloak>

                <div>

                    <h1 class="text-primary text-xl">Test fetching of local todo comments</h1>
                    <div hx-get
                         hx-page="Index"
                         hx-page-handler="LocalTodoComments"
                         hx-trigger="intersect">
                    </div>
                </div>
            </template>
        </div>
    </section>


</section>
<script type="text/javascript">
    console.log('shoop!')
    var elements = document.querySelectorAll('.box');
    
    anime({
      targets: '.box',
      translateX: 250,
      rotate: '1turn',
      backgroundColor: '#FFF',
      duration: 800
    });
    
    anime({
      targets: '.box',
      translateX: 250,
      scale: 2,
      rotate: '1turn'
    });
    
    function run_schema_card_animations() {
               
        anime({
          targets: '.card',
          scale: [
            {value: .1, easing: 'easeOutSine', duration: 50},
            {value: 1, easing: 'easeInOutQuad', duration: 500}
          ],
          delay: anime.stagger(200, {grid: [14, 5], from: 'center'})
        });
    }
    
    function setup_main_page() {
        return {
            current_domain: window.location.href,
            get is_local() { 
                return this.current_domain.includes('127.1.1.0')
                 || this.current_domain.includes('localhost') } ,
            // get is_prod() { !this.is_local(); }         
        }
    }
</script>