@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <div x-data="{ open: false }">
        <button x-on:click="open = true">Expand</button>

        <span x-show="open">
            Content...
        </span>
    </div>
</div>