@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <div x-data="{ open: false }">
        <button class="btn btn-primary" x-on:click="open = true">Expand</button>

        <span x-show="open" class="grid grid-cols-2 h-64">
            <p class="text-primary">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus accusantium dolore dolorem dolores dolorum eius error et eveniet incidunt nam nemo praesentium quasi qui quisquam repellendus reprehenderit sed, tempora.</p>

            <p class="text-accent">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquam consequuntur, culpa dicta, eligendi exercitationem illo laborum numquam obcaecati odio optio, pariatur perferendis placeat qui quia quod similique velit vitae!</p>

            <p>@Environment.GetEnvironmentVariable("foo")</p>
        </span>

        <div hx-get
             hx-page="Index"
             hx-page-handler="AllTodos"
             hx-trigger="intersect">

        </div>


        <div id="box_grid" class="grid grid-rows-1 grid-cols-1">

            <span class="w-10 box">
                1
            </span>
            <span class="w-10 box">
                2
            </span>
            <span class="w-10 box">
                3
            </span>

        </div>

    </div>

    <div
        hx-get
        hx-trigger="every 1s"
        hx-page="Index"
        hx-page-handler="Swap"
        class="btn btn-secondary">
        Swap me, baby one moar time!
    </div>
</div>
<script type="text/javascript">
    console.log('shoop!')
    var elements = document.querySelectorAll('.box');
    
    
    anime({
      targets: '.box',
      translateX: 250,
      rotate: '1turn',
      backgroundColor: '#FFF',
      duration: 800
    });
    
    
    // anime({
    //   targets: elements,
    //   translateX: 270
    // });
    
    anime({
      targets: '.box',
      translateX: 250,
      scale: 2,
      rotate: '1turn'
    });
</script>